In [1]:
# import dependencies and staging of data
import pandas as pd
import numpy as np

In [2]:
# loading the data file and read it

file_path = "Resources/purchase_data.csv"

purchase_data_df = pd.read_csv(file_path)

In [3]:
#read the first 5 lines to understand the data

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
purchase_data_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [5]:
# count unique serial numbers to determine player count

player_count = len(pd.unique(purchase_data_df['SN']))

# create a dataframe to store the player count as Total Players
Total_players = pd.DataFrame({"Total Playes": [player_count]})

In [6]:
#Display the total number of players
Total_players

   Total Playes
0           576

In [14]:
# calculations to obtain number of unique items, average price, etc.
num_unique_items = len((purchase_data_df['Item ID']).unique())
Num_of_Purchases = (purchase_data_df['Purchase ID']).count()
average_price = (purchase_data_df['Price']).mean()
Total_Revenue =  (purchase_data_df['Price']).sum()

In [15]:
num_unique_items

179

In [16]:
Num_of_Purchases

780

In [17]:
average_price

3.050987179487176

In [18]:
Total_Revenue

2379.77

In [50]:
#Creating a summary table by placing the values calculated above into a data fram

summary_df = pd.DataFrame({"Number of Unique Items":[num_unique_items],
                           "Average Price":[average_price],
                           "Number of Purchases":[Num_of_Purchases],
                           "Total Revenue":[Total_Revenue]})
#Formating the summary_df data frame 

summary_df.style.format({'Average Price':"${:,.2f}",'Total Revenue':'${:,.2f}'})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [65]:
#Gender Demographics.
gender_stats = purchase_data_df.groupby("Gender")
gender_counts=gender_stats.nunique()["SN"]

gender_counts

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [70]:
# percentage by gender player computation

player_percentage = gender_counts/Total_players * 100

In [71]:
# creating the percentage of player and total count

gender_df = pd.DataFrame({"Total Count":gender_counts,
                           "Percentage of Players":player_percentage})
gender_df.index.name = None
gender_df

ValueError: Shape of passed values is (4, 2), indices imply (3, 2)